<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>


    <style>
        .logo {
            font-size: 2.0em;
            align-items: left;

        }
        .text {
            font-size: 1.5em;
            align-items: center;

        }
        .signlogin {
            font-size: 1.5em;
            align-items: right;
        }


    </style>

    <div class="logo" onclick="goToMainPage()">Finance</div>
    <input style="float:center" class="text" type="text" placeholder="용어검색">
    <h2> <div style="float:right"      class="loginsign" onclick="goTologinsign()">회원가입/로그인</div></h2>



    <div class="logo" onclick="goTochatting()">채팅</div>
    <div class="logo" onclick="goTotodaynews()">오늘의 주요 금융 뉴스</div>
    <div class="logo" onclick="goTolikecheck()">찜확인</div>

</head>
<body>
    
</body>
</html>